



/* 弹性两侧对齐，上下居中 */
.flex-between-center {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

/* 超过一行为省略号 */
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 超过两行为省略号 */
.ellipsis2 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 超过三行为省略号 */
.ellipsis3 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* 禁用鼠标点击事件 */
.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}


/**
 * 滚动条样式
 */

/* 滚动条的宽度 和高度 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}
/* 定义滑块 内阴影+圆角 */
::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 10px;
  border: 1px solid #ccc;
}


/* 精灵图 */
.sprites-picture{
	width: 100px;
	height: 100px;
	background-image:url('icno.png');
	background-repeat: no-repeat;
	background-position: -40px 0;
	/**
	 * 注
	 *
	 * 微信小程序背景图片需要转成Base64 编码
	 * 微信小程序样式图片需要转成Base64 编码
	 * 
	 */
}
